{% extends "layout.html" %} {% block body %} {% set fname = 'images/' + params['logo_pic'] %}
<!-- Made By 24avepizza
This is the main index page
-->



<!-- ==Header Section== -->
<section class="bg-1 h-900x main-slider pos-relative">
    <div class="triangle-up pos-bottom"></div>
    <div class="container h-100">
        <div class="dplay-tbl">
            <div class="dplay-tbl-cell center-text color-white">

                <h5><b>BEST IN TOWN</b></h5>
                <h1 class="mt-30 mb-15">24 Ave Pizza</h1>
                <h5><a href="#menu" class="btn-primaryc plr-25"><b>SEE TODAYS MENU</b></a></h5>
            </div>
        </div>
    </div>
</section>
<!-- ===Ends=== -->


<!-- ==The main Body==-->
<section class="story-area left-text center-sm-text pos-relative">

    <div class="abs-tbl bg-2 w-20 z--1 dplay-md-none"></div>
    <div class="abs-tbr bg-3 w-20 z--1 dplay-md-none"></div>

    <div class="container">

        <!-- ==Heading== -->
        <div class="heading">
            <img class="heading-img" src="{{ url_for('static',filename=fname) }}" alt="">
            <h2>About Us</h2>
        </div>
        <!-- ==Ends== -->


        <div class="row">
            {% for aboutus in aboutus %}

            <!-- ===About us in left side== -->
            <div class="col-md-6">
                <p class="mb-30">{{aboutus.about_left}}</p>
            </div>
            <!-- ==Ends== -->

            <!-- ==About Us right side== -->
            <div class="col-md-6">
                <p class="mb-30">{{aboutus.about_right}}</p>
            </div>
            <!-- ==Ends== -->
            {% endfor %}
        </div>

    </div>
</section>


<!-- ==Best sellers==-->
<section class="story-area bg-seller color-white pos-relative">

    <div class="pos-bottom triangle-up"></div>
    <div class="pos-top triangle-bottom"></div>

    <div class="container">
        <div class="heading">
            <img class="heading-img" src="{{ url_for('static',filename=fname) }}" alt="">
            <h2>Best Sellers</h2>
        </div>


        <!-- ==Swiper Container== -->
        <div class="swiper-container" data-slide-effect="slide" data-autoheight="false" data-swiper-speed="500" data-swiper-margin="25" data-swiper-slides-per-view="3" data-swiper-breakpoints="true" data-scrollbar="true" data-swiper-loop="false" data-swpr-responsive="[1]">

            <!-- ==The main== -->
            <div class="swiper-wrapper pb-90 pb-sm-60 left-text center-sm-text">
                {% for menu in menu1 %} {% set fname = 'images/' + menu.img_file %}
                <div class="swiper-slide">
                    <div class="sided-90x mb-30 ">
                        <div class="s-left"><img class="br-3" src="{{ url_for('static',filename=fname) }}" alt="Menu Image">
                        </div>
                        <!--s-left-->
                        <div class="s-right">
                            <h5 class="mb-10"><b>{{menu.name}}</b><b class="color-primary float-right"></b></h5>
                            <p class="pr-70">{{menu.body}}</p>
                            <p class="pr-80 text-warning">{{menu.size1}} - <i class='{{menu.pricesym}}'></i>{{menu.price}}</p>
                            <p class="pr-80 text-warning">{{menu.size2}} - <i class='{{menu.price1sym}}'></i>{{menu.price1}}</p>
                        </div>
                    </div>
                </div>
                <!-- swiper-slide -->
                {% endfor %}
            </div>
            <!-- ==Ends==  -->

            <!-- ===Pagination== -->
            <div class="swiper-pagination"></div>
            <!-- ==Ends== -->

        </div>
        <!-- swiper-container -->

        <h6 class="center-text mt-40 mt-sm-20 mb-30"><a href="#menu" class="btn-primaryc plr-25"><b>SEE TODAYS MENU</b></a></h6>
    </div>
</section>

<!-- ==The styling== -->
<style>
    #menuid {
        overflow: auto;
    }
    
    @media only screen and (max-width:1000px) {
        .navbar-nav {
            flex-direction: row;
            -ms-flex-direction: row;
        }
        div.row {
            align-self: center !important;
            text-align: center !important;
        }
        div#navid {
            overflow: auto;
        }
    }
</style>
<!-- ==Ends== -->



<!-- ==Our menu== -->
<section class="story-area left-text center-sm-text pos-relative">

    <div class="abs-tbl bg-2 w-20 z--1 dplay-md-none"></div>
    <div class="abs-tbr bg-3 w-20 z--1 dplay-md-none"></div>


    <div class="container">
        <div class="heading">
            <img class="heading-img" src="{{ url_for('static',filename=fname) }}" alt="">
            <h2 id="menu">Our Menu</h2>
        </div>

        <div id="menuid">
            <div class="container" id="navid">

                <!-- ==The links to navigate between through links== -->
                <nav class="navbar float-left" id="navid">
                    <ul class="selecton brdr-b-primary mb-70 navbar-nav" id="ulid">
                        {% for menu2 in menu2 %}
                        <li class="nav-item" id="li"><a class="{{menu2.active}}" href="#" data-select="{{menu2.part}}"><b>{{menu2.partname}}</b></a></li>
                        {% endfor %}
                    </ul>
                </nav>
                <!-- ==Ends== -->
            </div>


            <div class="container">
                <!-- ==The menu to displayed== -->
                <div class="row center-text">
                    {% for menu in menu %} {% set fname = 'images/' + menu.img_file %}
                    <div class="col-md-6 food-menu {{menu.part}}">

                        <div class="sided-90x mb-30 ">

                            <div class="s-left"><img class="br-3" src="{{ url_for('static',filename=fname) }}" alt="Menu Image"></div>

                            <div class="s-right">
                                <h5 class="mb-10"><b>{{menu.name}}</b><b class="color-primary float-right"><i
                                            class='{{menu.pricesym}}'></i>{{menu.price}} &nbsp<i
                                            class='{{menu.price1sym}}'></i>{{menu.price1}}</b></h5>
                                <p class="pr-70">{{menu.body}}</p>
                                <p class="pr-70"><b id="size">{{menu.size1}} </b>&nbsp <i class='{{menu.pricesym}}'></i>{{menu.price}}</p>
                                <p class="pr-70"><b id="size">{{menu.size2}} </b>&nbsp <i class='{{menu.price1sym}}'></i>{{menu.price1}}</p>
                            </div>

                        </div>

                    </div>
                    {% endfor %}
                </div>
                <!-- ===Ends== -->

            </div>
        </div>

    </div>

</section>
<!-- ===Ends== -->


<!-- ==Ends== -->

{% endblock %}