{% extends "layout-admin.html" %} {% block body %}
<!-- Made By 24avepizza
This is to  mail user of contact us section of dashboard
-->


<!-- ==The Header Section== -->
<section class="bg-6 h-500x main-slider pos-relative">

    <div class="triangle-up pos-bottom"></div>
    <div class="container h-100">

        <div class="dplay-tbl">

            <div class="dplay-tbl-cell center-text color-white pt-90">
                <h5><b>Mail Customer</b></h5>
                <h3 class="mt-30 mb-15">Admin Panel</h3>
            </div>

        </div>

    </div>
</section>
<!-- ==Ends== -->

<div class="container">
    <br/>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a onclick="enterAdminContactUs()" style="color:#00bfff;">Contact Us-Admin</a></li>
            <li class="breadcrumb-item active" aria-current="page">Mail {{contact.id}}</li>
        </ol>
    </nav>
    <br/>

    <!-- ==Flashing Messages== -->
    <div class="abs-tbr bg-3 w-20 z--1 dplay-md-none"></div>
    {% with messages = get_flashed_messages() %} {% if messages %} {% for message in messages %}
    <div class="alert alert-success" role="alert">
        <i class='bx bxs-message-alt-check'></i> {{message}}
    </div>
    {% endfor %} {% endif %} {% endwith %}
    <!-- ==Ends== -->


    <br/>
    <form action="/mail-contactus-admin/{{contact.id}}" method="POST">
        <div class="form-row">

            <div class="form-group col-md-6">
                <label><b>Name</b></label>
                <input type="text" readonly name="name" class="form-control-plaintext" value="{{contact.name}}">
            </div>

            <div class="form-group col-md-6">
                <label><b>Email</b></label>
                <input type="email" readonly class="form-control-plaintext" value="{{contact.email}}" name="email">
            </div>

        </div>

        <hr/>

        <div class="form-group">
            <label><b>Subject</b></label>
            <input type="text" class="form-control" value="Thank You For Contacting Us {{contact.name}}" name="subject" required>
        </div>

        <hr/>

        <pre>
Dear Customer, 
{{contact.name}} 
            
Thanks for contacting us.
</pre>

        <div class="form-group">
            <label><b>Message</b></label>
            <textarea type="text" name="message" class="form-control" required>{{contact.msg}}</textarea>
        </div>
        <pre>
Regards,
24 Ave Pizza

Youtube: <a style="color:#00bfff">{{params['youtube_url']}}</a>
Instagram: <a style="color:#00bfff">{{params['insta_url']}}</a>
Twitter: <a style="color:#00bfff">{{params['tweet_url']}}</a>
Facebook: <a style="color:#00bfff">{{params['fb_url']}}</a>
</pre>


        <hr/>
        <div class="form-row">

            <div class="form-group col-md-2">
                <label><b>ID</b></label>
                <input type="number" readonly class="form-control-plaintext" placeholder="{{contact.id}}">
            </div>

            <div class="form-group col-md-2">
                <label><b>Date and Time</b></label>
                <input type="text" readonly class="form-control-plaintext" placeholder="{{contact.dt_time}}">
            </div>

        </div>
        <button type="submit" class="btn btn-primary mb-2">Mail It!</button>
    </form>
</div>
</section>
{% endblock %}