{% extends "layout-admin.html" %} {% block body %}
<!-- Made By 24avepizza
This is the password tracker
-->

<!-- ==Styling== -->
<style>
    i {
        cursor: pointer;
    }
</style>
<!-- ==Ends== -->


<!-- ==Header Section== -->
<section class="bg-7 h-500x main-slider pos-relative">

    <div class="triangle-up pos-bottom"></div>

    <div class="container h-100">
        <div class="dplay-tbl">
            <div class="dplay-tbl-cell center-text color-white pt-90">
                <h5><b>Welcome you are logged in</b></h5>
                <h3 class="mt-30 mb-15">Filemanager</h3>
            </div>
        </div>
    </div>

</section>
<!-- ==Ends== -->

<!-- ==The main Body==-->
<section class="story-area left-text center-sm-text pos-relative">

    <div class="abs-tbl bg-2 w-20 z--1 dplay-md-none"></div>
    <div class="abs-tbr bg-3 w-20 z--1 dplay-md-none"></div>


    <!-- ==The Flashed messages== -->
    {% with messages = get_flashed_messages() %} {% if messages %} {% for message in messages %}
    <div class="alert alert-success" role="alert">
        {{message}}
    </div>
    {% endfor %} {% endif %} {% endwith %}
    <!-- ==Ends== -->

    <div class="container">



        <!-- ==The password section== -->
        <h3 class="text-center">List of Passwords</h3><br/>
        <div id="displaypassword" class="table-responsive">

            <table class="table table-striped table-hover">
                <caption>List of password</caption>
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Website</th>
                        <th scope="col">Username</th>
                        <th scope="col">Password</th>
                        <th scope="col">View</th>
                        <th scope="col">Delete</th>
                    </tr>
                </thead>
                <tbody>
                    {% for password in password %}
                    <tr>
                        <th scope="row">{{password.id}}</th>
                        <td> <input type="text" name="website{{password.id}}" class="form-control" placeholder="Wesite Name" id="website{{password.id}}" value="{{password.website}}" onclick="copyPassword('website{{password.id}}','website')" /> </td>
                        <td> <input type="text" name="username{{password.id}}" class="form-control" id="username{{password.id}}" placeholder="Username" value="{{password.username}}" onclick="copyPassword('username{{password.id}}','username')"> </td>
                        <td> <input type="password" name="password{{password.id}}" id="password{{password.id}}" class="form-control" placeholder="Password" value="{{password.password}}" onclick="copyPassword('password{{password.id}}','password')" /> </td>
                        <td> <i class='bx bxs-low-vision bx-flip-horizontal' style='color:#00bfff; font-size:20px;' onclick="showPasswword('password{{password.id}}')"></i></td>
                        <td> <a href="/delete-password/{{password.id}}"><i class='bx bx-user-minus' style='color:#fd0101; font-size:25px;' ></i></a> </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <!-- ==Ends== -->

        <hr/>


        <!-- ==The add password section== -->
        <div>
            <h3 class="text-center">Add password</h3>
            <form action="/add-password" method="POST">
                <div class="form-row">

                    <div class="col-md-4 mb-3">
                        <label>Website</label>
                        <input type="text" class="form-control" name="websiteadd" placeholder="Website Name" required>
                    </div>

                    <div class="col-md-4 mb-3">
                        <label>Username</label>
                        <input type="text" class="form-control" name="usernameadd" placeholder="Username" required>
                    </div>

                    <div class="col-md-4 mb-3">
                        <label>Password</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class='bx bxs-low-vision bx-flip-horizontal' style='color:#00bfff; font-size:20px;' onclick="showPasswword('password0')"></i></span>
                            </div>
                            <input type="password" class="form-control" name="passwordadd" placeholder="Password" id="password0" required>
                        </div>
                    </div>

                </div>

                <button class="btn btn-primary" type="submit">Add Password</button>
            </form>
        </div>
        <!-- ==Ends== -->


    </div>
</section>
<!-- ==Ends== -->

<script>
    function copyPassword(id, name) {
        /* Get the text field */
        var copyText = document.getElementById(id);

        if (copyText.type === "password") {
            alert("This cannot be copied right now!");
        } else {
            /* Select the text field */
            copyText.select();
            copyText.setSelectionRange(0, 99999); /*For mobile devices*/

            /* Copy the text inside the text field */
            document.execCommand("copy");

            /* Alert the copied text */
            alert("Copied " + name + " " + copyText.value);
        }
    }
</script>

<script>
    function showPasswword(id) {
        var x = document.getElementById(id);
        if (x.type === "password") {
            x.type = "text";
        } else {
            x.type = "password";
        }
    }
</script>

{% endblock %}